:where(.css-dev-only-do-not-override-nnuwmp).ant-btn {
  border-radius: 0;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-input {
  border-radius: 0;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-pagination .ant-pagination-item {
  border-radius: 0;
}
